* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.left {
    width: 600px;
    height: 782px;
}

.right {
    width: 600px;
    height: 782px;
}

.left {
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('./imeges/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left__info {
    width: 285px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-area: 24px;
}

.left__info h1 {
    color: #FFF;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 2px;
}

.left__info a {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1E90FF;
}

.left__info a:hover{
    background: rgba(30, 144, 255, 0.80);
}

.left__info a:active{
    background: rgba(30, 144, 255, 0.60);
}

.left__info a span {
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
}

.right {
    padding: 54px;
}

.right__title {
    color: #222;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: 24px;
}

.right hr {
    margin-bottom: 24px;
}

.right__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.image {
    width: 160px;
    height: 90px;
}

.image:hover img{
    transform: scale(1.07);
}

.image img {
    transition: 0.3s;
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 4px;
}

.info {
    padding: 16px 16px 0 16px;
}

.info h3 {
    color: #222;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: 4px;
}

.info h3:hover{
    color: #1E90FF;
    cursor: pointer;
}

.info h3:active{
    background: rgba(30, 144, 255, 0.60); 
}

.info__info {
    display: flex;
    align-items: center;
    gap: 24px;
}

.info__info div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.info__info div img {
    width: 16px;
    height: 16px;
}

.info__info div span {
    color: #888;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    line-height: normal;
}

.right__btn {
    border: none;
    width: 100%;
    padding: 12px;
    display: flex;
    border-radius: 4px;
    background: #1E90FF;
    padding: 12px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

.right__btn:hover{
    cursor: pointer;
    background: rgba(30, 144, 255, 0.80);
}

.right__btn::after{
    background: rgba(30, 144, 255, 0.60);
}